@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
    @apply absolute top-16 left-0 bg-white pt-0 pb-4 shadow-md border-b-2 border-primary transition-all duration-1000;
} */


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray dark:bg-gray-light;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray dark:bg-gray-light;
}